<header class="header">
  <nav class="header__nav">
    <ul class="header__nav__list">
      <li class="header__nav__list__item"><a class="<%= path === '/' ? 'active' : ''%>" href="/">Home</a></li>
      <li class="header__nav__list__item"><a class="<%= path === '/users' ? 'active' : ''%>" href="/users">Users</a>
      </li>
    </ul>
  </nav>
</header>