* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  min-height: 100vh;
}

ul {
  list-style-type: none;
}

.header {
  background-color: grey;
}

.header__nav {
  height: 100%;
  padding: 1rem 1rem;
  background-color: black;

}

.header__nav__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.header__nav__list__item a:visited,
.header__nav__list__item a {
  text-decoration: none;
  color: white;
}

.header__nav__list__item a.active {
  color: gold;
}

main {
  padding: 1rem;
}